{
  "env": {
    "browser": true
  },
  "globals": {
    "Component": 1,
    "MailUtils": 1,
    "MsgMoveMessage": 1,
    "gFolderDisplay": 1,
    "gDBView": 1,
    "goDoCommand": 1,
    "Components": 1,
    "fixIterator": 1
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-var": 2,
    "eqeqeq": ["error", "always"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes":  ["error", "single"],
    "semi": ["error", "always"]
  }
}
